bootstrap.servers=ekflinkk8scluster-eh.servicebus.windows.net:9093
group.id=flink-consume-produce-ek
request.timeout.ms=60000

sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://ekflinkk8scluster-eh.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=WxL8npu3T5IlwtzBBc1AGJBriuT9Fkd8RrVdg6fYniE=";
